/* input::-webkit-input-placeholder {
  padding-left: 30px;
} */

.Sing_in {
    width: 100%;
    height: 1080px;
    background-image: url(../assets/Sing_in.jpg);
}

.Sing_in .bgc {
    width: 100%;
    height: 8%;
}

.Sing_in .bgc .logo {
    width: 10%;
    height: 65.5%;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 14px;
}

.Sing_in .word {
    width: 100%;
    height: 8%;
    margin-top: 9.44%;
}

.Sing_in .word .you {
    margin-left: 16.6%;
    color: white;
    font-size: 20px;
}

.Sing_in .word .xian {
    width: 5%;
    color: white;
    transform: rotate(120deg);
    margin-left: 16%;
}

.Sing_in .word .mai {
    color: white;
    font-size: 20px;
    margin-left: 18.8%;
    float: left;
}

.Sing_in .word .bufa {
    color: white;
    font-size: 15px;
    margin-left: 1%;
    position: relative;
    top: 10px;
}

.Sing_in .word .jingli {
    font-size: 15px;
    color: white;
    margin-left: 25%;
    margin-top: 1%;
}

.Sing_in .sing {
    width: 26%;
    height: 26%;
    margin-top: 6.2%;
    border: 2px solid #c8c6c6;
    background-color: #fff;
    margin-left: 58.3%;
    box-sizing: border-box;
}

.Sing_in .sing h5 {
    color: #bfbfbf;
    font-size: 16px;
    margin-top: 5.4%;
    margin-left: 4.5%;
}

.Sing_in .sing input {
    width: 56.3%;
    height: 12%;
    box-sizing: border-box;
    border: 1px solid #d7d7d7;
    margin-left: 4.5%;
    margin-top: 5.4%;
    padding: 15px;
    padding-left: 40px;
}

.Sing_in .sing .userimg {
    position: relative;
    left: -238px;
    top: 5px;
}

.Sing_in .sing .passimg {
    position: relative;
    left: -238px;
    top: 5px;
}

.Sing_in .sing form .btn {
    width: 51.2%;
    height: 37px;
    background-color: #0091ff;
    border: 0;
    color: white;
    margin: 0 auto;
    margin-left: 24%;
    margin-top: 7%;
}

.Sing_in .copyright {
    width: 100%;
    margin-top: 15.2%;
}

.Sing_in .copyright ul {
    margin-left: 45%;
    /* margin-top: 6.9%; */
    margin-top: 4%;
}

.Sing_in .copyright .footerlist {
    float: left;
    list-style: none;
    width: 7%;
    font-size: 13px;
}

.Sing_in .copyright .footerlist a {
    text-decoration: none;
    color: black;
}

.Sing_in .copyright .footerlist .shu {
    margin-left: 1%;
}

.Sing_in .copyright .icp {
    clear: both;
    float: left;
    margin-top: 2%;
    margin-left: 37%;
    font-size: 10px;
}

.Sing_in .copyright .hao {
    clear: both;
    font-size: 10px;
    text-align: center;
}